bpdy {
  margin: 0;
}

.header {
  /* border: 1px solid red; */
}
.nav {
  display: flex;
  justify-content: flex-end;
  background-color: seagreen;
}

.nav-content {
  width: 200px;
  display: flex;
  justify-content: space-between;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}

.section {
  border: 1px solid green;
  height: 100vh;
}

.section-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* border: 1px solid pink; */
}

.title {
  font-size: 40px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: green;
}

.desc {
  display: flex;
  flex-direction: column;
  margin: 0 20px;
  /* justify-content: space-between; */
  /* border: 1px solid blue; */
}

.desc-span {
  /* border: 1px solid orange; */
  padding: 10px 0;
}

.img {
  width: 500px;
  height: 300px;
}
